@font-face {
  font-family: "iconfont"; /* Project id 5046968 */
  src: url('iconfont.woff2?t=1762153725039') format('woff2'),
       url('iconfont.woff?t=1762153725039') format('woff'),
       url('iconfont.ttf?t=1762153725039') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 1em;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-flathub:before {
  content: "\eb96";
}

.icon-flatpak:before {
  content: "\eb95";
}

.icon-coffee:before {
  content: "\e826";
}

.icon-open-source:before {
  content: "\e949";
}

.icon-shouquan:before {
  content: "\e7df";
}

.icon-ios:before {
  content: "\e734";
}

.icon-download:before {
  content: "\e603";
}

.icon-harmony:before {
  content: "\e60d";
}

.icon-gitee:before {
  content: "\e606";
}

.icon-linux:before {
  content: "\ebf7";
}

.icon-windows:before {
  content: "\e6b5";
}

.icon-macos:before {
  content: "\e6bb";
}

.icon-ubuntu:before {
  content: "\e72e";
}

.icon-guanwang:before {
  content: "\e613";
}

.icon-baiduwangpan:before {
  content: "\e623";
}

.icon-baiduyun:before {
  content: "\e61f";
}

.icon-browser:before {
  content: "\e644";
}

.icon-weixin:before {
  content: "\e6af";
}

.icon-dianxin:before {
  content: "\e631";
}

.icon-yunfuwuqi:before {
  content: "\e660";
}

.icon-synchronous-tray:before {
  content: "\e615";
}

.icon-search:before {
  content: "\e604";
}

.icon-jingdong:before {
  content: "\e673";
}

.icon-book:before {
  content: "\ef46";
}

.icon-dangdang:before {
  content: "\e690";
}

.icon-qq:before {
  content: "\e79f";
}

.icon-android:before {
  content: "\e67f";
}

.icon-wangpan:before {
  content: "\e88a";
}

.icon-zhuzhan:before {
  content: "\e600";
}

.icon-home:before {
  content: "\e601";
}

.icon-oschina:before {
  content: "\e60b";
}

.icon-taobao:before {
  content: "\e645";
}

.icon-quake:before {
  content: "\e694";
}

.icon-csdn:before {
  content: "\e605";
}

.icon-git-alt:before {
  content: "\e646";
}

.icon-git-square:before {
  content: "\e648";
}

.icon-tencent-weibo:before {
  content: "\e69b";
}

.icon-weibo:before {
  content: "\e6ae";
}

.icon-bilibili:before {
  content: "\e888";
}

.icon-github:before {
  content: "\e8bc";
}

.icon-square-gitlab:before {
  content: "\e902";
}

