/* 对齐方式: markdown-it-div */
.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

/* Post 文章页面封面图片样式 */
.post img.cover.loaded {
  border: 1px solid #cccccc;
}

/* Page 页面标题样式 */
.page .page-title {
  text-align: center;
  border-bottom: 1px solid #eaeaea;
}

/* 读书分类 - 书籍封面图片 */
.book-cover {
  display: inline-block !important;
  margin: 0 !important;
}

.book-cover.loaded {
  width: 200px;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.10), -2px -2px 8px 0 rgba(0, 0, 0, 0.10);
  border: 2px solid #ffffff;
}

/* 友情链接 - 图标 */
.flink-item-icon {
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.10), -1px -1px 4px 0 rgba(0, 0, 0, 0.10);
  border: 1px solid #eeeeee;
  padding: 4px;
}

/* 关于页面 - GitHub 日历图片 */
.github-calendar.loaded {
  border: 1px solid #eeeeee;
  padding: 16px;
}
